/*
 * Author: Falconerie Badayos II
 * URL: respooonsive.com
 *
 * Template Name: Ever After
 * Version: 1.0
 * URL: http://respooonsive.com/ever-after
 */

 
 
/*------------------------------
    Table of Contents
---------------------------------
    I. 		Defaul Selectors
    II.  	Header
    III. 	Countdown
	IV. 	Love Story
	V. 		Gallery
	VI. 	Events
	VII. 	RSVP
	VIII.	Footer
	IX.		Mediaqueries	

*/

	
/*   I. 	Defaul Selectors
==============================*/ 
 
body {
  background-color: #f2f2f2;
    font-family: "Roboto Slab";
    font-weight: 300;
    font-size: 16px;
    color: #6f6f6f;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
	overflow-x: hidden;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}

.row h2 {
font-family: 'Pacifico', cursive;
color: #dd675b;
margin-bottom:15px;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
	text-align:justify;
}

#photostack {
	background-image: url('../us/banners/slideshow.jpg');
	background-size: cover;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.amp {
font-family: 'Niconne', cursive;
text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}

.hearts {
	background:url(../img/main-nav-divider.png) no-repeat center top;
	display:block;
	height: 1em;
	border: 0;
	margin: 1em 0;
	padding: 0 0 40px;
}

#headerwrap h2 {
font-family: 'Pacifico', cursive;
text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}



::-webkit-input-placeholder { /* WebKit browsers */
    color:    #fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #fff;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #fff;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #fff;
}

/* White Wrap */

.white{
	background: #ffffff;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
}
.pattern {
background:url('../img/white-bg.png') repeat;
padding:35px 0;
}

.white h3 {
	font-weight: 700;
	color: #7b7b7b;
	letter-spacing: 1px;
}

.white bold {
	color: #2f2f2f;
}


/* Grey Wrap */

.grey {
background: #f2f2f2;
text-align: center;
padding-top: 35px;
padding-bottom: 35px;
}
.noPadding{
padding:0;
}

/* Dark Grey Wrap */
.darkgrey {
	background: #e0e0e0;
	text-align: center;
}

/* Footer Wrap */




/*   I. Defaul Selectors End

==============================*/ 



/*   II. Menu
==============================*/ 


.menu {
	position: fixed;
	right: -200px;
	width: 260px;
	height: 100%;
	top: 0;
	z-index: 10;
	text-align: left;
}

.menu.menu-open {
	right: 0px;
}

.menu-wrap {
	position: absolute;
	top: 0;
	left: 60px;
	background: #de675f;
	width: 200px;
	height: 100%;
}

.menu h1.logo a {
	font-family: 'Raleway', Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: 0.15em;
	line-height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	margin-top: 20px;
}

.menu h1.logo a:hover {
	color: #f85c37;
}

.menu img.logo {
	margin: 20px 0;
	max-width: 160px;
}

.menu a {
	margin-left: 20px;
	color: #fff;
	display: block;
	font-size: 12px;
	font-weight: 700;
	line-height: 40px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.menu a:hover {
	color: #ddd;
}

.menu a:active {
	color: #ddd;
}

.menu a > i {
	float: left;
	display: inline-block;
	vertical-align: middle; 
	text-align: left;
	width: 25px;
	font-size: 14px;
	line-height: 40px;
	margin: 25px 2px;
}

.menu-close {
	cursor: pointer;
	display: block;
	position: absolute;
	font-size: 14px;
	color: #808080;
	width: 40px;
	height: 40px;
	line-height: 40px;
	top: 20px;
	right: 5px;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

.menu-close:hover {
	color: #ffffff;
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

/* Push the body after clicking the menu button */
.body-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.body-push-toright {
	left: 200px;
}

.body-push-toleft {
	left: -200px;
}

.menu,
.body-push {
	-webkit-transition: all .3s ease;
	   -moz-transition: all .3s ease;
		-ms-transition: all .3s ease;
		 -o-transition: all .3s ease;
			transition: all .3s ease;
}

#menuToggle {
	position: absolute;
	top: 20px;
	left: 0;
	z-index: 11;
	display: block;
	text-align: center;
	font-size: 14px;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	cursor: pointer;
	background: rgba(222, 103, 95, 0.25);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}

#menuToggle:hover {
	color: #ffffff;
	background: rgba(0,0,0,0.2);
	-webkit-transition: all .1s ease-in-out;
	   -moz-transition: all .1s ease-in-out;
		-ms-transition: all .1s ease-in-out;
		 -o-transition: all .1s ease-in-out;
			transition: all .1s ease-in-out;
}


/*   II. Menu End
==============================*/ 



/*   II.  	Header
==============================*/ 

#headerwrap {
	//background: url(../img/header-bg.jpg) no-repeat center top;
	margin-top: -10px;
	padding-top:20px;
	text-align:center;
	position: relative;
	background-position: center center;
	min-height: 700px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#headerwrap h1, #headerwrap h2{
z-index:3;
position:relative;
text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 0px;
}
#headerwrap h1 {
	margin-top: 130px;
	color: white;
	font-size: 140px;
	font-weight: 700;
	letter-spacing: 3px;
}

#headerwrap h2 {
	color: white;
	font-size: 50px;
	font-weight: 100;
	letter-spacing: 2px;
	line-height:1.5em;
}

#overlay {
margin: 0px;
padding: 0px;
position: absolute;
z-index:2;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
/* background-image: url(http://www.catthemes.net/demos/themes/prest/img/overlay.png); */
background-image: url(../img/dots.png);
}


/*   II.	Header End
==============================*/ 


/*   III.	Countdown
==============================*/ 
#countdown_dashboard {
	list-style:none;
	padding:0;
}

.dash {
	width: 110px;
	height: 114px;
	display:inline-block;
	margin-right: 20px;
	position: relative;
}

.dash .digit {
	font-size: 52pt;
	font-weight: bold;
	float: left;
	width: 55px;
	text-align: center;
	font-family: Roboto Slab;
	color: #6f6f6f;
	position: relative;
}

.dash_title {
	position: absolute;
	display: block;
	bottom: 0px;
	right: 6px;
	font-size: 9pt;
	color: #6f6f6f;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*   III.	Countdown End
==============================*/ 


/*   IV. 	Love Story
==============================*/ 

.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	display: inline-block;
	margin: 20px;
	width: 220px;
	height: 220px;
}

.ch-grid #mid{
height:250px;
width:250px;
}


.ch-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
	cursor: default;
	box-shadow: 
		inset 0 0 0 16px rgba(255,255,255,0.6),
		0 1px 2px rgba(0,0,0,0.1);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

/* This is where you change the path of the images for the couple */
.ch-img-1 { 
	background-image: url(../us/dads.jpg);
}

.ch-img-2 { 
	background-image: url(../us/us.jpg);
}

.ch-img-3 { 
	background-image: url(../us/mums.jpg);
}

.ch-info {
	position: absolute;
	background: rgba(222, 103, 95, 0.8);
	width: inherit;
	height: inherit;
	border-radius: 50%;
	opacity: 0;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	-webkit-backface-visibility: hidden;
}

.ch-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 90px 0 0 0;
	height: 140px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
	opacity: 0;
	-webkit-transition: all 1s ease-in-out 0.4s;
	-moz-transition: all 1s ease-in-out 0.4s;
	-o-transition: all 1s ease-in-out 0.4s;
	-ms-transition: all 1s ease-in-out 0.4s;
	transition: all 1s ease-in-out 0.4s;
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 1px rgba(255,255,255,0.1),
		0 1px 2px rgba(0,0,0,0.1);
}
.ch-item:hover .ch-info {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.ch-item:hover .ch-info p {
	opacity: 1;
	text-align:center;
}

.postYear {
	font-size: 17px;
	color: #fff;
	background: #ff675f;
	text-align: center;
	width: 100px;
	height: 100px;
	padding: 40px 0 40px 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

.exCon {
	width: auto;
	background: #f3f3f3;
	border-bottom: solid 4px #eeeeee;
	padding: 22px 47px 6px 47px;
	margin-left: 15px;
	text-align: left;
}

.excon img {
width:100%;
display:blockl
}

.arrowpart {
	float: left;
	width: 15px;
	height: 50px;
	background: url(../img/arrow-left.png) no-repeat 0 23px;
}


.postDetails .rightArea {
	border-left: solid 1px #eaeaea;
	padding-bottom: 47px;
}

.postDetails:last-child .rightArea {
	padding-bottom: 0px;
}

/*   IV.	Love Story
==============================*/ 

/*   V. 	About
==============================*/ 
.dropcap {
	float: left;
	font-size: 5.8rem;
	line-height: 5.4rem;
	margin: 0 6px 0 0;
}

.event-meta {
	margin-bottom:10px;
	clear:both;
}
.event-meta span {
	margin-right:18px;
}
.view_more {
	margin-bottom:20px;
}


/*   V. About End
==============================*/ 


/*   VI. Events
==============================*/ 

.event a {
display: block;
overflow: hidden;
margin: 0 0 10px;
}

.grid {
	margin: 10px auto 10px;
}

.grid a {
	float: left;
	color: #333;
}


.grid figure {
	position: relative;
	overflow: hidden;
	margin: 5px;
	background: #333;
}

.grid figure img {
	position: relative;
	display: block;
	width: 100%;
	opacity: 0.7;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.grid figcaption {
	position: absolute;
	top: 0;
	z-index: 11;
	padding: 10px;
	width: 100%;
	height: 100%;
	text-align: center;
}

.grid figure button {
	position: absolute;
	padding: 4px 20px;
	border: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
}

.grid figcaption,
.grid figure button {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

/* Hover effects */
.grid a:hover figure img {
	opacity: 1;
}

.grid figure button
{
	top: 50%;
	left: 50%;
	border: 3px solid #fff;
	background: transparent;
	color: #fff;
	opacity: 0;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(0.25);
	transform: translateY(-50%) translateX(-50%) scale(0.25);
}

.grid a:hover figure button{
	opacity: 1;
	-webkit-transform: translateY(-50%) translateX(-50%) scale(1);
	transform: translateY(-50%) translateX(-50%) scale(1);
}

/*   VI.	Events End
==============================*/


/*   VII. RSVP
==============================*/
#rsvpwrap {
	background: url(../us/banners/bannerWhere.jpg) no-repeat center top;
/* 	background: url(http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_5259a34e5d050_1.JPG) no-repeat center top; */
	margin-top: 0px;
	padding:70px 0;
	text-align:center;
	background-attachment: relative;
	background-position: center center;
	min-height: 500px;
	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#rsvpwrap h2 {
	color: #ffffff;
}

#rsvpwrap #map {
	height: 450px;
}

@media screen and (max-width: 767px) {
	#rsvpwrap #map {
		height:250px;
	}
}

input[type="text"].form-control, input[type="email"].form-control, textarea.form-control{
	background:none;
	border-radius:0;
	height:50px;
	border:2px solid #fff;
	/* color:#fff; */
}

textarea#input-message {
height:150px;
}

.form-control:focus {
box-shadow:none;
webkit-box-shadow:none;

}

input[type="submit"] {
border-radius: 0;
border-bottom: 3px solid #464D9C;
}

/*   VII. RSVP End
==============================*/ 




/*   VIII.	Footer
==============================*/ 


#footer {
	background: #2f2f2f;
	text-align: center
}
#footer a {
cursor:pointer;
}

/* Copyright Wrap */

#copy {
	padding: 10px 0;
	text-align: right;
}

	
/*   IX.	Mediaqueries
==============================*/ 

/* Media Queries */
/* Let's redefine the width of each anchor and the margins */

@media screen and (min-width: 1200px){
.postYear {
width: 100px;
height: 100px;
padding-top: 40px;
}
}


@media screen and (max-width: 27em) {
	.grid {
		max-width: 250px;
	}

	.grid a {
		width: 100%;
	}
}


@media screen and (max-width: 767px) {
.arrowpart {
float: none;
width: 100%;
height: 40px;
background: url(../img/arrow-top.png) no-repeat 50% 100%;
}

.postYear {
margin: 0 auto;
}
}


/* Portrait tablet to landscape and desktop */
@media (max-width: 768px) {

#headerwrap h1 {
font-size:45px;
}
.ch-grid li {
margin:20px auto;
display:block;
}

.da-thumbs li {
margin:7px 16px;
width: 27%;
float:none;
display:block;
}

.amp {
display:block;
}

}


@media (max-width: 767px) {
#headerwrap h1 {
font-size:45px;
}

#copy {
text-align:center;
}
.list-inline > li {
margin-bottom: 10px;
}

#headerwrap h2 {
font-size:40px;
}

.da-thumbs li {
margin:7px;
width: 45%;
float:none;
display:block;
}


.amp {
display:block;
}
}
/*   IX.	Mediaqueries End
==============================*/ 

